<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width" />
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xl" style="font-weight: bold;  font-family: Arial, Helvetica, sans-serif;
											color: #404C51;
											">
					<h1> Listar de produtos</h1>
				</div>
			</div>
			<table class="table" style="margin-top: .85em; text-align:center;">
				
				<thead>
				   <tr>
				      <th scope="col">Codigo</th>
				      <th scope="col">Nome</th>
				      <th scope="col">Categoria</th>
				      <th scope="col">Descrição</th>
				      <th scope="col">Valor Unid</th>
				      <th scope="col">Ferramenta</th>
				    </tr>
				 </thead>
				 
				 <tbody>
				 	<tr th:each="produto : ${produtos} ">
				      <th scope="row" th:text="${produto.getId()}">codigo</th>
					  <td th:text="${produto.getNome()}">nome</td>
					  <td th:text="${produto.getCategoria().getNome()}">Nome da categoria</td>
					  <td th:text="${produto.getDescricao()}">Descricao</td>
					  <td th:text="${produto.getValor()}">Valor</td>
					  <td>
					  	 <button type="submit" class="btn btn-primary">Editar</button>
					  	 <button type="submit" class="btn btn-danger">Excluir</button>
					  </td>
				    </tr>
				</tbody>
				
			</table>
		</div>
	</body>
</html>