/* CLASSES HTML NATIVAS */

:root {
    font-size: 16px;
    --primary: #2890ce;
    --secondary: #b0d0d3;
    --green: #9cec5b;
    --yellow: #f6ae2d;
    --red: #dc3545;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --orange: #fd7e14;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body {
    background-color: var(--secondary);
    height: 100vh;
}

/* CLASSES PROPRIETÁRIAS */

.contencao{
	display:grid;
	grid-template-columns:1fr;
	height:80vh;
	background-color: gray;
}

.coluna{
	place-self:center;
	width: 50vw;
	margin: 1rem;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: 0 4px 0 lightgray;
	background-color: white;
}

.logo-entrar{
	width: 155px;
	z-index:1;
	margin-bottom:-40px;
}

.cartao-entrar{
	border-radius: 30px;
}

/* CLASSES BOOTSTRAP */

.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.border-primary {
  border-color: var(--primary) !important;
}