<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('dashboard')}"><meta charset="UTF-8"></head>



<body>
	<header th:replace="~{fragmentos :: header('DashBoard')}"></header>

	
	<div class="text-center">
		<h4>Gerenciamento das Comandas</h4>
	
	</div>
	
	


	<div class="container">	
		
	
		<div class="row mx-lg-n5">
			
			<th:block th:each="mesa : ${mesas}">
				<div class="col py-3 px-lg-5 border bg-light text-center" >						
								
						<a th:href="@{/dashAdm/mesa/{id}/comandas(id = ${mesa.getId()})}">
							<button type="submit" class="btn btn-success" th:utext="${'Mesa '+mesa.numero}"></button></a>
				
				</div>				
			</th:block>
			
		</div>
	</div>


</body>

</html>