<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('dashboard')}"></head>

<body>


	<div class="jumbotron text-center">
		<h1>Comandas</h1>	
	</div>
	<div class="text-center">
		<h4>Gerenciamento das Comandas da mesa <span th:text="${id}"></span></h4>	
		
	</div>
	<div class="container">	
		<div class="row">
			<th:block th:each="comanda : ${comandas}">
				<div class="col-sm-2 text-center" >
					<h4>Comanda</h4>
					<a th:href="@{/garcons/comanda/{id}(id = ${comanda.getId()})}">
						<button type="submit" class="btn btn-secondary" th:utext="${comanda.getId()}"></button></a>					
				</div>
			</th:block>
		</div>
	</div>


</body>

</html>